<html>
  <head>
    <title>Pull Request Notifier for Stash Admin</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("se.bjurr.prnfs.pull-request-notifier-for-stash:resources")
  </head>
  <body>
    <div>
      <div class="description">
        You can use variables when invoking the URL, when forming the filter string, custom header values or in POST content.
        <ul>
        <li><b>${PULL_REQUEST_ID}</b> Example: 1</li>
        <li><b>${PULL_REQUEST_ACTION}</b> Example: OPENED</li>
        <li><b>${PULL_REQUEST_VERSION}</b> Example: 1</li>
        <li><b>${PULL_REQUEST_COMMENT_TEXT}</b> Example: A comment</li>
        <li><b>${PULL_REQUEST_AUTHOR_DISPLAY_NAME}</b> Example: Administrator</li>
        <li><b>${PULL_REQUEST_AUTHOR_EMAIL}</b> Example: admin@example.com</li>
        <li><b>${PULL_REQUEST_AUTHOR_ID}</b> Example: 1</li>
        <li><b>${PULL_REQUEST_AUTHOR_NAME}</b> Example: admin</li>
        <li><b>${PULL_REQUEST_AUTHOR_SLUG}</b> Example: admin</li>
        <li><b>${PULL_REQUEST_FROM_SSH_CLONE_URL}</b> Example: ssh://git@localhost:7999/project_1/rep_1</li>
        <li><b>${PULL_REQUEST_FROM_HTTP_CLONE_URL}</b> Example: http://admin@localhost:7990/stash/scm/project_1/rep_1.git</li>
        <li><b>${PULL_REQUEST_FROM_HASH}</b> Example: 6053a1eaa1c009dd11092d09a72f3c41af1b59ad</li>
        <li><b>${PULL_REQUEST_FROM_ID}</b> Example: refs/heads/branch_mod_merge</li>
        <li><b>${PULL_REQUEST_FROM_BRANCH}</b> Example: branch_mod_merge</li>
        <li><b>${PULL_REQUEST_FROM_REPO_ID}</b> Example: 1</li>
        <li><b>${PULL_REQUEST_FROM_REPO_NAME}</b> Example: rep_1</li>
        <li><b>${PULL_REQUEST_FROM_REPO_PROJECT_ID}</b> Example: 1</li>
        <li><b>${PULL_REQUEST_FROM_REPO_PROJECT_KEY}</b> Example: PROJECT_1</li>
        <li><b>${PULL_REQUEST_FROM_REPO_SLUG}</b> Example: rep_1</li>
        <li><b>${PULL_REQUEST_TO_SSH_CLONE_URL}</b> Example: ssh://git@localhost:7999/project_1/rep_1</li>
        <li><b>${PULL_REQUEST_TO_HTTP_CLONE_URL}</b> Example: http://admin@localhost:7990/stash/scm/project_1/rep_1.git</li>
        <li><b>${PULL_REQUEST_TO_HASH}</b> Example: d6edcbf924697ab811a867421dab60d954ccad99</li>
        <li><b>${PULL_REQUEST_TO_ID}</b> Example: refs/heads/basic_branching</li>
        <li><b>${PULL_REQUEST_TO_BRANCH}</b> Example: basic_branching</li>
        <li><b>${PULL_REQUEST_TO_REPO_ID}</b> Example: 1</li>
        <li><b>${PULL_REQUEST_TO_REPO_NAME}</b> Example: rep_1</li>
        <li><b>${PULL_REQUEST_TO_REPO_PROJECT_ID}</b> Example: 1</li>
        <li><b>${PULL_REQUEST_TO_REPO_PROJECT_KEY}</b> Example: PROJECT_1</li>
        <li><b>${PULL_REQUEST_TO_REPO_SLUG}</b> Example: rep_1</li>
        </ul>
      </div>
    </div>
    
    <div class="prnfs">
    </div>
    
    <div class="prnfs-template">
      <form class="trigger">
        <input type="hidden" name="FORM_IDENTIFIER">
        <div>
          <fieldset>
            <legend>Filter (Optional). Variables above are available.</legend>
            <label for="filter_string">Filter string</label>
            <input type="text" name="filter_string"><br/>
            <div class="error filter_string"></div>
            <label for="filter_regexp">Filter regexp</label>
            <input type="text" name="filter_regexp"><br>
            <div class="error filter_regexp"></div>
            You can use <a target="_blank" href="http://jex.im/regulex/">http://jex.im/regulex/</a> to fiddle with regular expressions.
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend>Triggers</legend>
            <div class="left">
              <input type="checkbox" name="events" id="APPROVED_1" value="APPROVED">
              <label for="APPROVED_1">APPROVED</label><br/>
              <input type="checkbox" name="events" id="COMMENTED_1" value="COMMENTED">
              <label for="COMMENTED_1">COMMENTED</label><br/>
              <input type="checkbox" name="events" id="DECLINED_1" value="DECLINED">
              <label for="DECLINED_1">DECLINED</label><br/>
              <input type="checkbox" name="events" id="MERGED_1" value="MERGED">
              <label for="MERGED_1">MERGED</label><br/>
              <input type="checkbox" name="events" id="OPENED_1" value="OPENED">
              <label for="OPENED_1">OPENED</label><br/>
              <input type="checkbox" name="events" id="REOPENED_1" value="REOPENED">
              <label for="REOPENED_1">REOPENED</label><br/>
            </div>
            <div class="right">
              <input type="checkbox" name="events" id="RESCOPED_1" value="RESCOPED">
              <label for="RESCOPED_1">RESCOPED</label><br/>
              <input type="checkbox" name="events" id="RESCOPED_FROM_1" value="RESCOPED_FROM">
              <label for="RESCOPED_FROM_1">RESCOPED_FROM</label><br/>
              <input type="checkbox" name="events" id="RESCOPED_TO_1" value="RESCOPED_TO">
              <label for="RESCOPED_TO_1">RESCOPED_TO</label><br/>
              <input type="checkbox" name="events" id="UNAPPROVED_1" value="UNAPPROVED">
              <label for="UNAPPROVED_1">UNAPPROVED</label><br/>
              <input type="checkbox" name="events" id="UPDATED_1" value="UPDATED">
              <label for="UPDATED_1">UPDATED</label><br/>
            </div>
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend>Basic authentication (Optional)</legend>
            <label for="user">User</label>
            <input type="text" name="user"><br/>
            <div class="error user"></div>
            <label for="password">Password</label>
            <input type="password" name="password">
            <div class="error password"></div>
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend>Proxy (Optional)</legend>
            <label for="proxy_user">User (Optional)</label>
            <input type="text" name="proxy_user"><br/>
            <div class="error proxy_user"></div>
            <label for="proxy_password">Password (Optional)</label>
            <input type="password" name="proxy_password">
            <div class="error proxy_password"></div>
            <label for="proxy_server">Server, IP or hostname</label>
            <input type="text" name="proxy_server">
            <div class="error proxy_server"></div>
            <label for="proxy_port">Server port</label>
            <input type="text" name="proxy_port">
            <div class="error proxy_port"></div>
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend>Headers (Optional)</legend>
            <table class="headers">
             <tr>
              <th>
               Name
              </th>
              <th>
               Value
              </th>
             </tr>
             <tr class="header">
              <td>
               <input type="text" name="header_name">
              </td>
              <td>
               <input type="text" name="header_value">
              </td>
             </tr>
            </table>
            <div class="error header_name header_value"></div>
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend>Invoke URL</legend>
            <label for="url">URL</label>
            <input type="text" name="url">
            <div class="error url"></div>
          </fieldset>
        </div>
        <div>
          <fieldset>
            <legend>HTTP method</legend>
            <input type="radio" name="method" value="GET" onClick="jQuery('.method_POST').hide()">
            <label for="GET">GET</label><br>
            <input type="radio" name="method" value="POST" onClick="jQuery('.method_POST').show()">
            <label for="post">POST</label><br>
            <input type="radio" name="method" value="PUT" onClick="jQuery('.method_POST').show()">
            <label for="post">PUT</label><br>
            <input type="radio" name="method" value="DELETE" onClick="jQuery('.method_POST').hide()">
            <label for="post">DELETE</label>
          </fieldset>
        </div>
        <div class="visibleif method_POST method_PUT">
          <fieldset>
            <legend>POST content</legend>
            <textarea name="post_content" rows="6" cols="40"></textarea>
          </fieldset>
        </div>
        <div>
          <fieldset>
            <input type="button" name="save" value="Save"/>
            <input type="button" name="delete" value="Remove"/>
            <span class="post"></span>
          </fieldset>
        </div>
      </form>
    </div>
  </body>
</html>
