<html>

<head>
 <title>Pull Request Notifier for Bitbucket Admin</title>

 #if($repository)
 <meta name="projectKey" content="$repository.project.key">
 <meta name="repositorySlug" content="$repository.slug">
 <meta name="decorator" content="bitbucket.repository.settings">
 <meta name="activeTab" content="se.bjurr.ssfb.repo.synchronization">
 <!-- //-->
 #else
 <!-- //-->
 <meta name="decorator" content="atl.admin">
 <!-- //-->
 #end
 <!-- //-->
 $webResourceManager.requireResource("se.bjurr.prnfs.pull-request-notifier-for-stash:resources")
 <!-- //-->
 $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")
</head>

<body>

 <h3>Usage</h3>
 <p>
  The documentation is available on <a href="https://github.com/tomasbjerre/pull-request-notifier-for-bitbucket">GitHub</a>.
 </p>
 <p>
  You can use variables when invoking the URL, when forming the filter string, custom header values or in POST content.
 </p>
 <ul>
  <li><b>${PULL_REQUEST_ID}</b> Example: 1</li>
  <li><b>${PULL_REQUEST_TITLE}</b> Example: Anything</li>
  <li><b>${PULL_REQUEST_ACTION}</b> Example: OPENED</li>
  <li><b>${PULL_REQUEST_URL}</b> Example: http://localhost:7990/projects/PROJECT_1/repos/rep_1/pull-requests/1</li>
  <li><b>${PULL_REQUEST_VERSION}</b> Example: 1</li>
  <li><b>${PULL_REQUEST_COMMENT_TEXT}</b> Example: A comment</li>
  <li><b>${BUTTON_TRIGGER_TITLE}</b> Example: Trigger Notification</li>
  <li><b>${INJECTION_URL_VALUE}</b> If injection URL configured</li>
  <li><b>${PULL_REQUEST_USER_DISPLAY_NAME}</b> Example: Some User</li>
  <li><b>${PULL_REQUEST_USER_EMAIL_ADDRESS}</b> Example: some.user@bitbucket.domain</li>
  <li><b>${PULL_REQUEST_USER_ID}</b> Example: 1</li>
  <li><b>${PULL_REQUEST_USER_NAME}</b> Example: some.user</li>
  <li><b>${PULL_REQUEST_USER_SLUG}</b> Example: some.user</li>
  <li><b>${PULL_REQUEST_AUTHOR_DISPLAY_NAME}</b> Example: Administrator</li>
  <li><b>${PULL_REQUEST_AUTHOR_EMAIL}</b> Example: admin@example.com</li>
  <li><b>${PULL_REQUEST_AUTHOR_ID}</b> Example: 1</li>
  <li><b>${PULL_REQUEST_AUTHOR_NAME}</b> Example: admin</li>
  <li><b>${PULL_REQUEST_AUTHOR_SLUG}</b> Example: admin</li>
  <li><b>${PULL_REQUEST_REVIEWERS}</b> Reviewers list.</li>
  <li><b>${PULL_REQUEST_REVIEWERS_ID}</b> Reviewers ID list.</li>
  <li><b>${PULL_REQUEST_REVIEWERS_SLUG}</b> Reviewers slug list.</li>
  <li><b>${PULL_REQUEST_REVIEWERS_APPROVED_COUNT}</b> Number of reviewers that approved the PR.</li>
  <li><b>${PULL_REQUEST_PARTICIPANTS_APPROVED_COUNT}</b> Number of participants that approved the PR.</li>
  <li><b>${PULL_REQUEST_MERGE_COMMIT}</b> Hash of merged commit (only available for merged-event).</li>
  <li><b>${PULL_REQUEST_FROM_SSH_CLONE_URL}</b> Example: ssh://git@localhost:7999/project_1/rep_1</li>
  <li><b>${PULL_REQUEST_FROM_HTTP_CLONE_URL}</b> Example: http://admin@localhost:7990/bitbucket/scm/project_1/rep_1.git</li>
  <li><b>${PULL_REQUEST_FROM_HASH}</b> Example: 6053a1eaa1c009dd11092d09a72f3c41af1b59ad</li>
  <li><b>${PULL_REQUEST_FROM_ID}</b> Example: refs/heads/branch_mod_merge</li>
  <li><b>${PULL_REQUEST_FROM_BRANCH}</b> Example: branch_mod_merge</li>
  <li><b>${PULL_REQUEST_FROM_REPO_ID}</b> Example: 1</li>
  <li><b>${PULL_REQUEST_FROM_REPO_NAME}</b> Example: rep_1</li>
  <li><b>${PULL_REQUEST_FROM_REPO_PROJECT_ID}</b> Example: 1</li>
  <li><b>${PULL_REQUEST_FROM_REPO_PROJECT_KEY}</b> Example: PROJECT_1</li>
  <li><b>${PULL_REQUEST_FROM_REPO_SLUG}</b> Example: rep_1</li>
  <li><b>${PULL_REQUEST_TO_SSH_CLONE_URL}</b> Example: ssh://git@localhost:7999/project_1/rep_1</li>
  <li><b>${PULL_REQUEST_TO_HTTP_CLONE_URL}</b> Example: http://admin@localhost:7990/bitbucket/scm/project_1/rep_1.git</li>
  <li><b>${PULL_REQUEST_TO_HASH}</b> Example: d6edcbf924697ab811a867421dab60d954ccad99</li>
  <li><b>${PULL_REQUEST_TO_ID}</b> Example: refs/heads/basic_branching</li>
  <li><b>${PULL_REQUEST_TO_BRANCH}</b> Example: basic_branching</li>
  <li><b>${PULL_REQUEST_TO_REPO_ID}</b> Example: 1</li>
  <li><b>${PULL_REQUEST_TO_REPO_NAME}</b> Example: rep_1</li>
  <li><b>${PULL_REQUEST_TO_REPO_PROJECT_ID}</b> Example: 1</li>
  <li><b>${PULL_REQUEST_TO_REPO_PROJECT_KEY}</b> Example: PROJECT_1</li>
  <li><b>${PULL_REQUEST_TO_REPO_SLUG}</b> Example: rep_1</li>
 </ul>

 <h3>Buttons</h3>
 <p>
  Buttons are added in the pull request view. Only buttons that will trigger at least one configured notification is shown.
 </p>

 <h3>Notifications</h3>
 <p>
  A notification is triggered by an event and will result in a URL invocation. The variables above enables you to send whatever information you want as a parameter in that URL.
 </p>

 <form id="prnfbadmin" class="aui prnfb">
  <fieldset class="group">
   <legend>
    <span>When to trigger notification</span>
   </legend>

   #if($repository)
   <!-- //-->
   <input type="hidden" name="repositorySlug" value="$repository.slug" />
   <input type="hidden" name="projectKey" value="$repository.project.key" />
   <!-- //-->
   #else
   <!-- //-->
   <select class="select" id="repositorySlug" name="repositorySlug">
   </select>

   <select class="select" id="projectKey" name="projectKey">
   </select>
   <!-- //-->
   #end

   <fieldset class="group">
    <div class="aui-buttons">
     <button class="aui-button aui-button-primary">Save</button>
    </div>
   </fieldset>
 </form>


</body>

</html>