.config-area {
 border: 1px;
 border-color: black;
 border-style: dotted;
 width: 400px;
 padding: 5px 15px;
}

fieldset {
 border: 1px;
 padding: 5px 15px;
}

legend {
 font-weight: bold;
 font-size: 20px;
}

.left {
 float: left;
}

.right {
 float: right;
}

.error {
 font-weight: bold;
 color: red;
}

input[type="text"], 
input[type="password"] {
 width: 100%;
}

.prnfb > form {
 margin: 10px 0 0 0;
}

.prnfb-template {
 display:none;
}

.visibleif {
 display:none;
}

th {
 text-align: left;
}

td > input[type="text"] {
 width: 90%;
 margin: 0 10% 0 0;
 float:left
}

.expandable .content {
 display: none;
}

.expandable.expanded .content {
 display: inherit;
}
